*{
    padding: 0;
    margin: 0;
    /* css3盒模型 */
    /* 宽高包括内边距和边框 */
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    /* flex要在父元素操作 */
    display: flex;
    /* 主轴水平居中 */
    justify-content: center;
    /* 侧轴垂直居中 */
    align-items: center;
    /* 设置高度 100%视口
    单位：vh（视口高度） 
    */
    height: 100vh;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    position: relative;
    /* cover背景图片一定覆盖整个盒子并按比例显示 */
    /* contain背景图片一定要全部显示在盒子中按比例缩放，是盒子可以不占满 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    /* 设置鼠标小手 */
    cursor: pointer;
    /* 每个各占一份 */
    flex: 1;
    margin: 10px;
    /* 过渡动画全部属性 0s 不延迟*/
    transition: all 0.7s ease-in 0s;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    /* 默认不显示
    不透明度:0 */
    opacity: 0;

}
.panel.active {
    flex: 8;
}
.panel.active h3{
    opacity: 1;
    /*透明交换的动画
    过渡属性 动画模式 0.3s 缓入 */
    transition: opacticy 0.3s ease-in 0.4 ;
}
/* 响应式布局 屏幕小于480不显示45盒子 */
@media (max-width:480px){
    .container{
        width: 100vh;
    }
    .panel:nth-child(4),.panel:nth-child(5){
        display: none;
    }
}  
