h1 {
  color: red;
}
/* p {
  color: green;
} */
p, li {
    color: green;
}
li {
  list-style-type: none;
}
/*
special类
*/
/* li.special {
  color: orange;
  font-weight: bold;
} */
li.special,
span.special {
  color: orange;
  font-weight: bold;
}
/*
根据元素在文档中的位置确定样式

*/
/*
包含选择符
*/
li em {
  color: rebeccapurple;
}
/*
相邻选择符
*/
h1 + p {
  font-size: 200%;
}
/*
没被访问是粉色，访问过后绿色
*/
a:link {
  color: pink;
}

a:visited {
  color: green;
}
/*
鼠标悬停时候的样式，移除下划线
*/
a:hover {
  text-decoration: none;
}
/*
在<body>之内，紧接在<h1>后面的<p>元素的内部，类名为special。
*/
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}