.wrapper {
  font-size: 1em;
  border: 1px solid black;
}

.px {
  width: 200px;
  border: 1px solid black;
}

.vw {
  width: 10vw;
  border: 1px solid black;
}

.em {
  width: 10em;
  border: 1px solid black;
}
html {
  font-size: 16px;
}

.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}
