/* .box {
  border: 5px solid darkblue;
  min-height: 150px;
  width: 200px;
} */
.box {
  width: 200px;
}
.minibox {
  width: 50px;
}
.width {
  width: 100%;
}
.max {
  max-width: 100%;
}
    