.wrapper {
  width: 400px;
  border: 5px solid rebeccapurple;
}

.px {
  width: 200px;
  border: 2px solid blue;
}

.percent {
  width: 40%;
  border: 2px solid blue;
}
li {
  font-size: 80%;
}
    