.one {
  background-color: rgba(2, 121, 139, .3);
}

.two {
  background-color: rgba(197, 93, 161, .7);
}

.three {
  background-color: rgba(18, 138, 125, .9);
}
.wrapper{
    background-image: url(../090.jpg);
    background-repeat: no-repeat;
}
