body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
      float: left;
      margin-right: 10px;
      
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    /*网格布局*/
    display: grid;
    grid-template-columns: 3fr 1fr ;
    /* grid-gap: 20px;
  */
  }
.article{
    float:right;
}
  
  nav {
    background-color: #000;
    padding: .5em;
    display: flex;
    flex: 100px;
    /*position:sticky*/
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap; 
    align-items: center; 
    justify-content: space-around;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    /* margin: 0 6em 0 0; */
    padding: .5em 1em;
  
   
    

  }
  
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    /* 多列布局*/
    column-width: 80px;
    /* column-count: 2; */
    column-gap: 10px;
   
  }

  .feature {
      width: 200px;
  }
