.box {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 30px;
    border-radius:4px;
    border: 1px solid blue;
    padding: 1em;
    background-color: aquamarine;
}
