.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    width: 100px;
    height: 80px;
    margin: 4px;
    padding: 5px;
    border-radius:2px;
    
    background-color: aquamarine;

}