
.box {
  inline-size: 150px;
}
.horizontal {
    
  writing-mode: horizontal-tb;
  
  border: 1px solid black;
}

.vertical {
  writing-mode: vertical-rl;
  border: 1px solid black;
 
}
.wrapper{
  
  border: 1px solid black;
}

