input[type="text"],
input[type="email"] {
  border: 2px solid rebeccapurple;
  margin: 1em 1em 2em 2em;
  padding: 10px;
  width: 80%;
}

input[type="submit"] {
  border: 3px solid #333;
  background-color: #999;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
  margin-left: 15em;
}

input[type="submit"]:hover {
  background-color: #333;
}
.form{
    border: 1px solid black;
}
button,
input{
  font-family : inherit;
  font-size : 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
    